<div class="smart-farm circle">
  <div class="con">
    <div>
      <div class="cent">
        <img data-deg="145" src="/media/img/ag-cir-05.svg"/>
        <span>
          <strong>OFF-GRID SOLUTIONS</strong>
          <p>We offer affordable in-house design and installation of primary and secondary power solutions via solar power in remote areas. </p>
        </span>
      </div>
    </div>
    <div>
      <div class="cent">
        <img data-deg="200" src="/media/img/ag-cir-03.svg"/>
        <span>
          <strong>OFFICE</strong>
          <p>From everyday company communications to finance, sales and marketing, farming is becoming just as much an online as offline business and it’s more important than ever to stay connected. </p>
        </span>
      </div>
    </div>
    <div>
      <div class="cent">
        <img data-deg="270" src="/media/img/ag-cir-06.svg"/>    
        <span>
          <strong>DATA TRANSFER</strong>
          <p>Add on small, affordable data transfer plans for low use areas where all you need is a basic connection. Perfect for networking: time clocks, scales, security and video systems, crop storage sensors, and energy consumption monitoring. </p>
        </span>
      </div>
    </div>
    <div>
      <div class="cent">
        <img data-deg="325" src="/media/img/ag-cir-04.svg"/>
        <span>
          <strong>IRRIGATION MANAGEMENT</strong>
          <p>Connect and monitor pumps, pivots, head gates, crops and soil sensors for live feedback. Don’t wait until the next time you drive into the field to find the water wasn’t on or a pipe has burst. </p>
        </span>
      </div>
    </div>
    <div>
      <div class="cent">
        <img data-deg="20" src="/media/img/ag-cir-01.svg"/>  
        <span>
          <strong>FEEDLOT MANAGEMENT</strong>
          <p>Monitor feed, livestock, security and more with a dedicated Wi-Fi network. Professionally designed, installed, and maintained. </p>
        </span>
      </div>
    </div>
    <div>
      <div class="cent">
        <img data-deg="90" src="/media/img/ag-cir-02.svg"/>
        <span>
          <strong>HOMES</strong>
          <p>It all starts at home. Get fast, reliable home internet service with unlimited data, and parental controls included. Supported by our 24/7 customer support.</p>
        </span>
      </div>
    </div>
  </div>
  <div class="images">
    <img id="rotator" src="/media/img/ag-05.svg"/>
    <img src="/media/img/ag-04.svg"/>
  </div>
</div>