<form action="/" class="step-form" id="limiter">
  <div class="steps"></div>
  <div class="tab" data-name="Check Limiter">
    <input type="text" class="form-input" name="field_1" placeholder="Field #1">
    <input type="text" class="form-input" name="field_1b" placeholder="Field #1b">
  </div>
  <div class="status"></div>
  <div class="controller">
      <button 
        name="next" 
        type="button" 
        class="btn"
        data-limit-id="check_limiter" 
        data-limit-count="5"
        data-limit-min="5"
        data-limit-hr="0"
        data-limit-day="0"
      >Check Now</button>
  </div>
</form>

<form action="sales-entry" class="step-form" id="contact-info">
  <div class="steps"></div>
  <div class="tab" data-name="Tab 1">
    <input type="text" class="form-input" name="field_1" placeholder="Field #1">
    <input type="text" class="form-input" name="field_1b" placeholder="Field #1b">
  </div>
  <div class="tab" data-name="Tab 2">
    <input type="text" class="form-input" name="field_2" placeholder="Field #2">
    <input type="text" class="form-input" name="field_2b" placeholder="Field #2b">
  </div>
  <div class="tab" data-name="Tab 3">
    <input required type="text" class="form-input" name="field_3" placeholder="Field #3">
    <input required type="text" class="form-input" name="field_3b" placeholder="Field #3b">
  </div>
  <div class="status"></div>
  <div class="controller">
    <button name="prev" type="button" class="btn">Go Back</button>
    <a href="https://google.com" class="btn">Custom button</a>
    <button name="next" type="button" class="btn">Check Now</button>
  </div>
</form>